<form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="resourceForm" autocomplete="off" novalidate
  (ngSubmit)="submitForm()">

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between  start">
    <mat-form-field fxFlex="100" appearance="fill">
      <input matInput type="name" placeholder="Nome da Equipe:" formControlName="name" id="name">
      <mat-label>Equipe:</mat-label>
      <mat-error *ngIf="hasError('name', 'required')">Nome da equipe e obrigatório</mat-error>
    </mat-form-field>
  </div>

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between  start">
    <mat-form-field fxFlex="100" appearance="fill">
      <input matInput type="number" placeholder="Custo ferramental:" formControlName="tooling_cost" id="tooling_cost">
      <mat-label>Custo ferramental:</mat-label>
      <mat-error *ngIf="hasError('tooling_cost', 'required')">Custo Ferramental e obrigatório</mat-error>
    </mat-form-field>
  </div>

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
    <mat-card-actions appearance="fill">
      <button type="submit" mat-raised-button color="primary" [disabled]="!resourceForm.valid">Save</button>
    </mat-card-actions>
  </div>

</form>
