.container {
  height: 100%;
}

table {
  width: 98%;
  max-height: 600px;
  margin: 8px;
}

button {
  margin: 4px 4px;
}


.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
