<div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap>
  <mat-accordion>
    <div>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Equipe
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-team-form
        [team]="team"
        [dialog]="dialog"
      ></app-team-form>

    </mat-expansion-panel>
  </mat-accordion>
</div>

